// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-bottom: 1px dotted black;
        a {
            padding-top: 15px;
            justify-content: flex-end;
}
}